:root{
    --color-form-background:#E8DCB9;
    --color-form-wrapper: #F5F0E0;
    --color-button: #BFD7EA;
    --color-button-focus: #087E8B;
    --color-highlight: #38A6E5;
    --color-highlight-focus: #177BB5;
}

